.album_container {
  width: 300px;
  height: 300px;
  background-color: black;
  margin: 10px;
}

@media only screen and (max-width: 660px) {
  .album_container {
    width: 100%;
    padding-top: 100%;
    height: 0;
    overflow: hidden;
  }
}
