.album_container {
  width: 320px;
  height: 180px;
  background-color: black;
  margin: 10px;
  position: relative;
  border-radius: 5px;
}

@media only screen and (max-width: 660px) {
  .album_container {
    width: 100%;
    padding-top: 56.25%;
    height: 0;
    overflow: hidden;
  }
}
