.album_details_container {
  display: flex;
  margin-top: 45px;
  width: 1180px;
  align-items: center;
}

.album_details_img_placeholder {
  width: 180px;
  height: 180px;
  border: 5px;
  background-color: rgb(241, 241, 241);
}

.album_img {
  width: 180px;
  height: 180px;
  border: 5px;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
}

.album_details {
  margin-left: 25px;
}

.album_details_album_name {
  font-weight: bold;
  font-size: 32px;
  text-transform: uppercase;
}

.album_details_artist_name {
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
}

.album_details_title_placeholder {
  height: 32px;
  width: 350px;
  border-radius: 16px;
  background-color: rgb(241, 241, 241);
  margin-bottom: 5px;
}

.album_details_album_placeholder {
  height: 32px;
  width: 240px;
  border-radius: 16px;
  background-color: rgb(241, 241, 241);
}

@media only screen and (max-width: 1180px) {
  .album_details_container {
    width: calc(100% - 50px);
  }
}

@media only screen and (max-width: 440px) {
  .album_details_img_placeholder {
    width: 90px;
    height: 90px;
  }

  .album_img {
    width: 90px;
    height: 90px;
  }

  .album_details_album_name {
    font-size: 16px;
  }

  .album_details_artist_name {
    font-size: 12px;
  }
}
