.album_container {
  width: 320px;
  height: 180px;
  background-color: black;
  margin: 10px;
  position: relative;
  border-radius: 5px;
}

.album_container:hover {
  cursor: pointer;
}

.album_title {
  position: absolute;
  bottom: 0;
  margin: 10px;
  font-weight: bold;
  font-size: 24px;
  color: white;
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
  transition: 200ms ease-in-out;
}

.album_container:hover .album_title {
  transform: translateX(7px);
}

.artist_title {
  position: absolute;
  top: 0;
  margin: 10px;
  font-weight: bold;
  font-size: 16px;
  color: white;
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.8);
}

@media only screen and (max-width: 660px) {
  .album_container {
    width: 100%;
    padding-top: 56.25%;
    height: 0;
    overflow: hidden;
  }
}
