.search_container {
  margin-top: 35px;
  display: flex;
  width: 1000px;
}

.search_input {
  padding: 10px 25px;
  width: 100%;
  height: 35px;
  border: none;
  background-color: white;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  -webkit-box-shadow: 0px 0px 25px -8px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 0px 25px -8px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 0px 25px -8px rgba(0, 0, 0, 0.35);
  font-size: 16px;
}

.search_btn {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: none;
  background-color: black;
  width: 65px;
  transition: 100ms linear;
}

.search_btn:hover {
  cursor: pointer;
  background-color: rgb(41, 41, 41);
}

.search_btn:focus {
  outline: none;
}

.search_input:focus {
  outline: none;
}

@media only screen and (max-width: 1000px) {
  .search_container {
    width: calc(100% - 20px);
  }
}
