.track_container {
  margin: 10px;
  display: flex;
  flex-direction: column;
  width: 180px;
}

.track_img_container {
  background-color: rgb(241, 241, 241);
  width: 180px;
  height: 180px;
  position: relative;
  border-radius: 5px;
}

.track_duration_label {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 10px;
  font-weight: bold;
  font-size: 16px;
  color: #aeaeae;
}
.track_number_label {
  position: absolute;
  margin: 10px;
  font-weight: bold;
  font-size: 30px;
  top: 0;
  color: #aeaeae;
}

.track_icon_container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.track_label {
  margin-top: 5px;
  font-weight: 500;
  word-break: break-all;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  -webkit-box-orient: vertical;
}

@media only screen and (max-width: 695px) {
  .track_container {
    width: 100%;
  }

  .track_img_container {
    width: 100%;
    padding-top: 100%;
    height: 0;
    overflow: hidden;
  }

  .track_label {
    font-size: 30px;
    font-weight: bold;
  }
}
