.login_container {
  display: flex;
  flex: 1;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.login_label {
  font-size: 32px;
  text-transform: capitalize;
  font-weight: bold;
}
